<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<h1>User List</h1>
<a th:href="@{/users/addUser}" class="btn btn-primary">Add User</a>

<table>
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Birth Date</th>
    <th>Actions</th> <!-- Add a new column for actions -->
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.firstName}"></td>
    <td th:text="${user.lastName}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.phone}"></td>
    <td th:text="${user.birth}"></td>
    <td>
      <a th:href="@{users/editUser/{id}(id=${user.id})}" class="btn btn-primary">Edit</a>
      <a th:href="@{users/deleteUser/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
