<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h1>Add Product</h1>
<form th:action="@{/products/save}" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" required="required" />
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" name="description" required="required"></textarea>
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input type="text" class="form-control" id="price" name="price" required="required" th:pattern="'^\d+(\.\d{1,2})?$'" placeholder="Enter a decimal number (e.g., 10.99)" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a th:href="@{/admin/productsAdmin}" class="btn btn-secondary">Cancel</a>
</form>
</body>
</html>
