<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit Product</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h1>Edit Product</h1>
<form th:action="@{/products/editProduct/{id}(id=${product.id})}" method="post">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" required="required" th:value="${product.name}" />
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <input type="text" class="form-control" id="description" name="description" th:value="${product.description}" />
  </div>
  <div class="form-group">
    <label for="price">Price:</label>
    <input type="text" class="form-control" id="price" name="price" required="required" step="0.01" th:value="${product.price}" />
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
  <a th:href="@{/admin/productsAdmin}" class="btn btn-secondary">Cancel</a>
</form>
</body>
</html>
