<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit User</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<style>
body{
                background-image: url('/img/tlo.jpg');
            background-size: cover;  /* Add this line */
    background-position: center; /* Center the background image */
    }
</style>
</head>
<body>
<h1>Edit User</h1>
<form th:action="@{/users/myProfileEdit/{id}(id=${user.id})}" method="post">
    <div class="form-group">
        <label for="FirstName">FirstName:</label>
        <input type="text" class="form-control" id="FirstName" name="FirstName" required="required" th:value="${user.firstName}" />
    </div>
    <div class="form-group">
        <label for="LastName">LastName:</label>
        <input type="text" class="form-control" id="LastName" name="LastName" th:value="${user.lastName}" />
    </div>
    <div class="form-group">
        <label for="username">email:</label>
        <input type="text" class="form-control" id="username" name="username" th:value="${user.username}" />
    </div>
    <div class="form-group">
        <label for="phone">phone:</label>
        <input type="text" class="form-control" id="phone" name="phone" th:value="${user.phone}" />
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
    <a th:href="@{/users/profile}" class="btn btn-secondary">Cancel</a>
</form>
</body>
</html>
